html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
      width: 0px;
      }
  }
  
  .full-height {
    height: 95vh;
  }
  

  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .position-ref {
    position: relative;
  }

  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }
  
  .content {
    text-align: center;
  }
  
  .links > a {
    color: white;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .z {
    margin: 30px;
    display: grid;
  }

  .z > label {
    padding-top: 15px;
  }
  
  footer{
    background: black;
    padding: 20px;
    text-align: center;
    border-top: #afca0b 10px solid;
  }
  
  .title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #afca0b;
  }
  
  .wrapper {
    max-width: 1140px;
    padding: 10px;
    margin: 20px auto;
  }

  .nav {
    background-color: black;
    color: white;
    height: 80px;
    padding: 5px;
    border-bottom: #afca0b 10px solid;
  }

  .d-button {
    padding: 8px 16px;
    border: 2px solid #afca0b;
    border-radius: 30px;
    transition: all 0.5s;
  }

  .d-hover > div:hover {
    background-color: #afca0b;
  }

  .m-button {
    transition: all 0.5s;
  }

  .m-button:hover {
    border-bottom: #afca0b solid 1px;
  }


  .border {
    border: 2px #afca0b solid;
    padding: 4px;
    margin: 3px;
    height: 220px;
    opacity: 1;
    padding-top: 40px;
    color: black;
    margin-top: 7px;
  }

  .menu {
    width: 24%;
    float:left;
    margin-left: 10px;
  }

  .menu > a {
    color:#636b6f;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .img {
    position: absolute;
    margin-top: 7px;
    margin-left: 3px;
    opacity: 1;
    transition: all 0.4s;
    border: #afca0b solid 4px;
  }

  .img:hover {
    opacity: 0.1;
  }

  .arrow {
    position: absolute;
    margin-left: 7%;
    margin-top: 35%;
    display: block;
  }

  .arrow > a {
    position: fixed;
    background-color: #afca0b;
    padding: 10px;
    border-radius: 100%;
    transition: all 5s ease;
  }

  .back > a{
    position: absolute;
    margin-left: 1%;
    margin-top: 35%;
    display: block;
  }

  .back > a {
    position: fixed;
    background-color: #afca0b;
    padding: 10px;
    border-radius: 100%;
    transition: all 5s ease;
  }

  .g {
    background: #F4F4F4; 
    border: solid #afca0b 2px;
    border-radius: 10% / 20%;
    height: 40vh;
  }

  .center {
    display: flex;
    justify-content: center;
    width: 70%;
  }
  .dodatki {
    border: 2px solid #afca0b;
    border-radius: 15px;
    background-color: #F1F1f1;
    padding: 20px;
  }

  .button {
    padding: 20px;
  }

  .button > input {
    border: 2px solid #afca0b;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: right ;
    margin-right: 30px;
  }

  .button > input:hover {
    background-color: #afca0b;
    transition: all 0.5s;
  }


